/*[ FONT ]*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@100;300;500;900&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

button {
    outline: none !important;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

input {
    outline: none;
    border: none;
}

a {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

a:focus {
    outline: none !important;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul,
li {
    margin: 0px;
    list-style-type: none;
}







.containerLR {
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url('img/capa-fundo-login-register.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}



/*[FORMATAÇÃO DO BOTÃO]*/
.btnLR {
    float: right; 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #134a74;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 21px; 
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btna{
    text-decoration: none;
    float: right; 
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #134a74;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 21px; 
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btnLR2{
    float: right;
    margin: 10px;
    border-radius: 25px;
    padding: 15px 29px;
    vertical-align: middle;
    background: #134a74;
    color: white;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.floatLeft {
    float: left;
}

.btnLR:hover {
    background: #57b6ff;
}

.btna:hover {
    background: #57b6ff;
}

.btnLR2:hover {
    background: #57b6ff;
}









.subcontainerLR {
    width: 960px;
    background: #082338;
    opacity: 0.9;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 33px 130px 33px 95px;
}

.subcontainerLRR {
    /*width: 960px;*/
    background: #082338;
    opacity: 0.9;
    border-radius: 10px;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 33px 22px 33px 22px;
}







/*[ IMAGEM ]*/
.imgL {
    width: 316px;
}

.imgL img {
    max-width: 100%;
}

.imgR {
    width: 316px;
    margin-top: 79px;
}

.imgR img {
    max-width: 100%;
}









/*[ TÍTULO ]*/
.titleLR {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: #ffffff;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 25px;
}










/*[ INPUTS ]*/
.inputcontainer {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}






/*[ Input + Focus ]*/
.input100 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}


.input100:focus+.focus-input100+.symbol-input100 {
    color: #082338;
    padding-left: 28px;
}


.focus-input100 {
    display: block;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    color: rgba(#082338);
}

.input100:focus+.focus-input100 {
    -webkit-animation: anim-shadow 0.5s ease-in-out forwards;
    animation: anim-shadow 0.5s ease-in-out forwards;
}


.symbol-input100 {
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}







.formLR {
    width: 290px;
}





/*[ checkbox ALUNO/PROFESSOR]*/
.checkbox {
    height: 80px;
    width: 270px;
    padding: 20px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, .2);
    justify-content: space-between;
}

.checkbox input {
    outline: none;
    height: 40px;
    width: 90px;
    border-radius: 50px;
    -webkit-appearance: none;
    position: relative;
    background: #e6e6e6;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.checkbox input:checked {
    background: #664AFF;
}

.checkbox input:before {
    position: absolute;
    content: "";
    left: 0;
    height: 100%;
    width: 40px;
    background: linear-gradient(#fff, #f2f2f2, #e6e6e6, #d9d9d9);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 50px;
    transform: scale(0.85);
    transition: left 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

input:checked:before {
    left: 50px;
}

.checkbox .text:before {
    content: "Aluno";
    font-size: 25px;
    font-weight: 500;
    color: #bfbfbf;
}

input:checked~.text:before {
    color: #664AFF;
    font-size: 27px;
    content: "Professor";
}





.p-t-12 {
    padding-top: 12px;
}

.p-t-136 {
    padding-top: 28px;
}

.text-center {
    text-align: center;
}








/*[ login social ]*/
.loginsocial {
    text-align: center;
    margin-top: 10px;
}

.button {
    height: 35px;
    padding: 0;
    background: #a52b2b;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 6px;
}

#buttongithub {
    background: #1d1c1c;
}

#buttongithub:hover {
    background: #000000;
}

#buttonlinkedin {
    background: #273780;
}

#buttonlinkedin:hover {
    background: #0c248f;
}


.button:hover {
    background: #9c1616;
}


.button__text {
    display: inline-flex;
    align-items: center;
    padding: 0px 14px;
    color: #fff;
    height: 100%;
    font-size: 12px;
}

#fa-google {
    font-size: 10px;
    margin-right: 17px;
}

.fa-facebook-f {
    font-size: 10px;
    margin-right: 17px;
}

.fa-github {
    font-size: 10px;
    margin-right: 17px;
}













.esqsenha {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #ffffff;
}

.login {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #ffffff;
}

.login:hover {
    color: #57b6ff;
}

.cadastro {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #ffffff;
}

.cadastro:hover {
    color: #57b6ff;
}











/*[ Responsive ]*/
@media (max-width: 992px) {
    .subcontainerLR {
        padding: 177px 90px 33px 85px;
    }

    .imgLR {
        width: 254px;
    }

    .login100-form {
        width: 50%;
    }
}

@media (max-width: 768px) {
    .subcontainerLR {
        padding: 100px 80px 33px 80px;
    }

    .imgLR {
        margin: auto;
    }

    .login100-form {
        width: 100%;
        padding: 0px 128px 0px;
        /*margin-top: 29px;*/
    }
}

@media (max-width: 576px) {
    .subcontainerLR {
        padding: 26px 15px 33px 15px;
    }
}